{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        <label for="id_username">Username</label><br>
        <input type="text" name="username" autofocus required id="id_username">
    </div>

    <div>
        <label for="id_password">Password</label><br>
        <input type="password" name="password" required id="id_password">
    </div>

    <button type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>
<p>Don't have an account? <a href="{% url 'blog:register' %}">Register</a></p>
{% endblock %}
