{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h2>Register</h2>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        <label for="{{ form.username.id_for_label }}">Username</label><br>
        {{ form.username }}
        {{ form.username.errors }}
    </div>

    <div>
        <label for="{{ form.email.id_for_label }}">Email</label><br>
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div>
        <label for="{{ form.password1.id_for_label }}">Password</label><br>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>

    <div>
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label><br>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>

    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{% url 'blog:login' %}">Login</a></p>
{% endblock %}
